# Nicolas' Mid-Bootcamp Project | A Gastro-Scene Showdown!

**WHICH CITY WILL BE CROWNED GOURMET-CAPITAL OF EUROPE?**

We have 10 exciting cities competing for this most glamourous title! As for our contender selection, I oriented myself by the (European) countries (and cities) of residence of my fellow Ironhack students and from there selected one city (except for Germany) that is sure to offer exciting culinary delights:
- Dusseldorf, Germany - my city of residence with some fantastic dining options, especially Asian food. But how will it stack up against these major contenders? I promise no bias on my part, just stone-cold data wrangling!
- Amsterdam, Netherlands - some fantastic (international) eateries here, home of the NL Ironhack remote campus. Thankfully the Dutch West India Company imported more than just goods!
- Barcelona, Spain - Madrid would also be a fantastic choice for restaurants, tough call but Barceló is just a special kind of cool!
- Berlin, Germany - bringing in a 2nd German contender against this overbearing cosmopolitan competition, chosen because several from my cohort live here, but also as it has what is probably Germany's most experimental restaurant scene.
- Istambul, Turkey - a major metropol straddling Europe and Asia, a fusion of east and west! We can expect an exciting culinary scene.
- Lisbon, Portugal - the cultural and political heart of Portugal, would expect nothing short of fantastic here! 
- London, UK - London breaks conventions, not just with the image of British food in general. A real dine-out heavyweight champ!
- Milan, Italy - no cohorts from Italy afaik, but not a real dining competition without some Italian flair. Chosen over Rome for it's fashion fame and economical strength - recipe for a stellar restaurant scene. Carpe Diem!
- Paris, France - what pan-european food competition would be complete without some 'joie de vivre'? 
- Zurich, Switzerland - no fellow students from here, chosen for my love of Switzerland and Zurich. Honestly cannot remember ever having had a disappointing meal anywhere in CH. 

**INTRODUCTORY NOTE ON DATA METHODOLOGY:** 

I had attempted to build a webcrawler to parse Google Maps and scrape restaurant information using Python, but had run into several issues that I was unable to resolve by myself. Instead, I used outscraper.com, an online scraping tool to do the job for me. 

Doing so unfortunately limited my sample size to 500 restaurants/rows per city as that was the maximum free query size allowed by the tool. A smaller city target like Dusseldorf or Zurich may or may not actually have around that many restaurants, but major cities like Berlin, Paris or London would likely have far more. Additionally, I had little control over the logic applied by the tool (or rather Google Maps) in giving me my 500 'restaurant' search results per city - though I assume Google would use it's considerable AI clout to deliver results of the most searched/selected/popular restaurants in any given location in descending order. Yet, not all values in each dataset may actually be fully-fledged restaurants - some may be cafés, bakeries or delicacy shops (Et al.) that sell meals, and even some (*shudders*) fast-food franchises.

#### Imports

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import glob # for importing all files concatenated together

In [2]:
# SQL imports
import pymysql
from sqlalchemy import create_engine
import sqlalchemy.types as sql_types
from getpass import getpass

In [3]:
password = getpass()

········

In [4]:
# setting up engine and connection to MySQL - previously created a new SQL database titled mid_btcmp_project
connection_string = 'mysql+pymysql://root:'+password+'@localhost/mid_btcmp_project'
engine = create_engine(connection_string)

In [5]:
# override limit on max width of df columns
pd.set_option('display.max_columns', None)

In [6]:
# importing all dataframes individually and checking shape for conformity
dus = pd.read_excel('Datasets/Dusseldorf.xlsx')
print(dus.shape)
bcn = pd.read_excel('Datasets/Barcelona.xlsx')
print(bcn.shape)
ber = pd.read_excel('Datasets/Berlin.xlsx')
print(ber.shape)
lis = pd.read_excel('Datasets/Lisbon.xlsx')
print(lis.shape)
lnd = pd.read_excel('Datasets/London.xlsx')
print(lnd.shape)
ams = pd.read_excel('Datasets/Amsterdam.xlsx')
print(ams.shape)
mil = pd.read_excel('Datasets/Milan.xlsx')
print(mil.shape)
zrh = pd.read_excel('Datasets/Zurich.xlsx')
print(zrh.shape)
ist = pd.read_excel('Datasets/Istambul.xlsx')
print(ist.shape)
par = pd.read_excel('Datasets/Paris.xlsx')
print(par.shape)

(500, 58)
(500, 59)
(500, 59)
(500, 59)
(500, 59)
(500, 59)
(500, 59)
(500, 59)
(500, 59)
(500, 59)

In [7]:
# noticed that dus oddly has one column less compared to the rest... Checking .head() to find it is missing a column 
# labelled 'area_service' which appears to have no value to our following calculations anyways. 
display(dus.head(1))
bcn.head(1)

,query,name,site,type,subtypes,category,phone,full_address,borough,street,city,postal_code,state,us_state,country,country_code,latitude,longitude,time_zone,plus_code,rating,reviews,reviews_link,reviews_tags,reviews_per_score,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5,photos_count,photo,street_view,located_in,working_hours,working_hours_old_format,other_hours,popular_times,business_status,about,range,posts,logo,description,verified,owner_id,owner_title,owner_link,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,"restaurant, 40210, Nordrhein-Westfalen, DE",Restaurant Zum Schiffchen,https://www.brauerei-zum-schiffchen.de/,Restaurant,Restaurant,restaurants,+49 211 1701215,"Konrad-Adenauer-Platz 14, 40210 Düsseldorf",Stadtbezirk 1,Konrad-Adenauer-Platz 14,Düsseldorf,40210,NaN,NaN,Germany,DE,51.220276,6.792887,Europe/Berlin,NaN,3.5,251.0,https://search.google.com/local/reviews?placei...,NaN,"{""1"": 39, ""2"": 17, ""3"": 43, ""4"": 73, ""5"": 79}",39.0,17.0,43.0,73.0,79.0,117.0,https://lh5.googleusercontent.com/p/AF1QipMU8-...,https://lh5.googleusercontent.com/p/AF1QipMU8-...,NaN,"{""Monday"": ""8am-11pm"", ""Tuesday"": ""8am-11pm"", ...",Monday: 8am-11pm | Tuesday: 8am-11pm | Wednesd...,NaN,NaN,OPERATIONAL,"{""Service options"": {""Takeaway"": true, ""Dine-i...",€€,NaN,https://lh3.googleusercontent.com/-57mb-s1US0w...,NaN,True,117181584539908212891,Restaurant Zum Schiffchen,https://www.google.com/maps/contrib/1171815845...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Restaurant+Z...,ChIJdfp4DzHKuEcRZfa1cQU-eT8,0x47b8ca310f78fa75:0x3f793e0571b5f665,4573755089674958437,4.573755e+18,NaN

,query,name,site,type,subtypes,category,phone,full_address,borough,street,city,postal_code,state,us_state,country,country_code,latitude,longitude,time_zone,plus_code,area_service,rating,reviews,reviews_link,reviews_tags,reviews_per_score,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5,photos_count,photo,street_view,located_in,working_hours,working_hours_old_format,other_hours,popular_times,business_status,about,range,posts,logo,description,verified,owner_id,owner_title,owner_link,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,"Restaurant, 08001, Cataluna, ES",RAO Restaurant,http://www.raobcn.com/,Restaurant,Restaurant,restaurants,+34 655 59 70 21,"Carrer de les Sitges, 3, 08001 Barcelona",NaN,"Carrer de les Sitges, 3",Barcelona,8001.0,Barcelona,NaN,Spain,ES,41.38429,2.169572,Europe/Madrid,NaN,False,4.7,1022.0,https://search.google.com/local/reviews?placei...,NaN,"{""1"": 22, ""2"": 19, ""3"": 39, ""4"": 113, ""5"": 829}",22.0,19.0,39.0,113.0,829.0,1467,https://lh5.googleusercontent.com/p/AF1QipN8K6...,https://lh5.googleusercontent.com/p/AF1QipN8K6...,NaN,"{""Monday"": ""Closed"", ""Tuesday"": ""7PM-12AM"", ""W...",Monday: Closed | Tuesday: 7PM-12AM | Wednesday...,NaN,NaN,OPERATIONAL,"{""Service options"": {""Dine-in"": true, ""Deliver...",€€,NaN,https://lh5.googleusercontent.com/-XoQulx74O2Q...,"Edgy, brick-walled space with a terrace, servi...",True,108398980134304825937,RAO Restaurant,https://www.google.com/maps/contrib/1083989801...,"https://raobcn.com/#!/reservations, https://ww...",https://raobcn.com/#!/reservations,NaN,NaN,https://www.google.com/maps/place/RAO+Restaura...,ChIJZQKuEx6jpBIRAttn9_8h0Dk,0x12a4a31e13ae0265:0x39d021fff767db02,4165867038568864514,4.165867e+18,NaN

In [8]:
# df names for copy/paste:
# dus, bcn, ber, lis, lnd, ams, mil, zrh, ist, par

In [9]:
# to save some time, I instead chose to extract all excel files from my directory together and concat into one df
dataset_folder = glob.glob("Datasets/*.xlsx")
cities = pd.concat(pd.read_excel(excelFile) for excelFile in dataset_folder)

/var/folders/yb/h9hkbtf17cq8_7fj_jjzdpcm0000gn/T/ipykernel_3061/2985397876.py:3: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  df = pd.concat(pd.read_excel(excelFile) for excelFile in dataset_folder)

In [10]:
# double check shape, checks out
cities.shape

(5000, 59)

In [11]:
# double check what happens with dus rows on that missing column 'area_service' - it is added and filled with NaNs
cities[cities['city']=='Düsseldorf'].head(3)

,query,name,site,type,subtypes,category,phone,full_address,borough,street,city,postal_code,state,us_state,country,country_code,latitude,longitude,time_zone,plus_code,area_service,rating,reviews,reviews_link,reviews_tags,reviews_per_score,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5,photos_count,photo,street_view,located_in,working_hours,working_hours_old_format,other_hours,popular_times,business_status,about,range,posts,logo,description,verified,owner_id,owner_title,owner_link,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,"restaurant, 40210, Nordrhein-Westfalen, DE",Restaurant Zum Schiffchen,https://www.brauerei-zum-schiffchen.de/,Restaurant,Restaurant,restaurants,+49 211 1701215,"Konrad-Adenauer-Platz 14, 40210 Düsseldorf",Stadtbezirk 1,Konrad-Adenauer-Platz 14,Düsseldorf,40210,NaN,NaN,Germany,DE,51.220276,6.792887,Europe/Berlin,NaN,NaN,3.5,251.0,https://search.google.com/local/reviews?placei...,NaN,"{""1"": 39, ""2"": 17, ""3"": 43, ""4"": 73, ""5"": 79}",39.0,17.0,43.0,73.0,79.0,117.0,https://lh5.googleusercontent.com/p/AF1QipMU8-...,https://lh5.googleusercontent.com/p/AF1QipMU8-...,NaN,"{""Monday"": ""8am-11pm"", ""Tuesday"": ""8am-11pm"", ...",Monday: 8am-11pm | Tuesday: 8am-11pm | Wednesd...,NaN,NaN,OPERATIONAL,"{""Service options"": {""Takeaway"": true, ""Dine-i...",€€,NaN,https://lh3.googleusercontent.com/-57mb-s1US0w...,NaN,1.0,117181584539908212891,Restaurant Zum Schiffchen,https://www.google.com/maps/contrib/1171815845...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Restaurant+Z...,ChIJdfp4DzHKuEcRZfa1cQU-eT8,0x47b8ca310f78fa75:0x3f793e0571b5f665,4573755089674958437,4573755089674958336.0,NaN
1,"restaurant, 40210, Nordrhein-Westfalen, DE",Zum Kochlöffel,NaN,Restaurant,Restaurant,restaurants,+49 211 1609615,"Friedrich-Ebert-Straße 41, 40210 Düsseldorf",Stadtbezirk 1,Friedrich-Ebert-Straße 41,Düsseldorf,40210,NaN,NaN,Germany,DE,51.221250,6.789820,Europe/Berlin,NaN,NaN,4.5,116.0,https://search.google.com/local/reviews?placei...,NaN,"{""1"": 0, ""2"": 2, ""3"": 9, ""4"": 29, ""5"": 76}",0.0,2.0,9.0,29.0,76.0,18.0,https://lh5.googleusercontent.com/p/AF1QipNyyl...,https://lh5.googleusercontent.com/p/AF1QipNyyl...,NaN,"{""Monday"": ""6am-5pm"", ""Tuesday"": ""6am-5pm"", ""W...",Monday: 6am-5pm | Tuesday: 6am-5pm | Wednesday...,NaN,NaN,OPERATIONAL,"{""Service options"": {""Takeaway"": true, ""Dine-i...",€,NaN,NaN,NaN,0.0,NaN,Zum Kochlöffel,NaN,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Zum+Kochl%C3...,ChIJ7zsnfTDKuEcRfy0611XzbqE,0x47b8ca307d273bef:0xa16ef355d73a2d7f,11632502437553253759,-6814241636156297216.0,NaN
2,"restaurant, 40210, Nordrhein-Westfalen, DE",BLOCK HOUSE Düsseldorf Hauptbahnhof Harkortstraße,https://www.block-house.de/,Restaurant,"Restaurant, Takeout restaurant",restaurants,+49 211 30137909,"Harkortstraße 8, 40210 Düsseldorf",Stadtbezirk 1,Harkortstraße 8,Düsseldorf,40210,NaN,NaN,Germany,DE,51.219459,6.792052,Europe/Berlin,NaN,NaN,4.5,135.0,https://search.google.com/local/reviews?placei...,NaN,"{""1"": 8, ""2"": 3, ""3"": 5, ""4"": 22, ""5"": 97}",8.0,3.0,5.0,22.0,97.0,284.0,https://lh5.googleusercontent.com/p/AF1QipO0So...,https://lh5.googleusercontent.com/p/AF1QipO0So...,NaN,"{""Monday"": ""12-10pm"", ""Tuesday"": ""12-10pm"", ""W...",Monday: 12-10pm | Tuesday: 12-10pm | Wednesday...,NaN,NaN,OPERATIONAL,"{""Service options"": {""Outdoor seating"": true, ...",€€,NaN,https://lh6.googleusercontent.com/-dky986dbAPo...,NaN,1.0,111611767742001152293,BLOCK HOUSE Düsseldorf Hauptbahnhof Harkortstraße,https://www.google.com/maps/contrib/1116117677...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/BLOCK+HOUSE+...,ChIJm5X1eEfLuEcRseySaZn3Aps,0x47b8cb4778f5959b:0x9b02f7996992ecb1,11169762264105544881,-7276981809604005888.0,NaN

In [12]:
# # obtain column headers to print a markdown table
# header = []
# for col in df.columns:
    #print(col)
    #print('|',col,'||')
#     header.append(col)
# header

#### Time to drop
We have 59 columns in total, but most don't make sense for our further data processing. 

| Column Name | Drop or Keep and why |
| :---------- | :------------------- |
| query | drop, refers to the query from outscraper to GMaps |
| name | keep |
| site | keep (for now), website link of restaurant if any (otherwise NaN) |
| type | keep (for now), defines locale as restaurant (or other) |
| subtypes | keep (for now) |
| category | keep (for now) |
| phone | keep (for now) |
| full_address | keep (for now), technically a duplicate |
| borough | keep (for now), may be useless or could play a factor in weighing a restaurant by location |
| street | keep (for now), technically a duplicate |
| city | keep (for now), technically a duplicate |
| postal_code | keep (for now), technically a duplicate |
| state | drop |
| us_state | drop |
| country | keep (for now) |
| country_code | drop, duplicate |
| latitude | keep (for now), may be needed when plotting location on a map |
| longitude | keep (for now), may be needed when plotting location on a map |
| time_zone | drop |
| plus_code | drop, use case unknown |
| area_service | drop, use case unknown |
| rating | keep, aggregate review score |
| reviews | keep, number of reviews |
| reviews_link | drop |
| reviews_tags | drop, use case unknown |
| reviews_per_score | drop, duplicate |
| reviews_per_score_1 | keep (for now), could be useful |
| reviews_per_score_2 | keep (for now), could be useful |
| reviews_per_score_2 | keep (for now), could be useful |
| reviews_per_score_3 | keep (for now), could be useful |
| reviews_per_score_4 | keep (for now), could be useful |
| reviews_per_score_5 | keep (for now), could be useful |
| photos_count | keep (for now), could be useful |
| photo | drop |
| street_view | drop |
| located_in | drop |
| working_hours | drop |
| working_hours_old_format | drop |
| other_hours | drop |
| popular_times | drop |
| business_status | drop |
| about | keep (for now), could be useful |
| range | keep |
| posts | drop |
| logo | drop |
| description | drop |
| verified | drop |
| owner_id | drop |
| owner_title | drop |
| owner_link | drop |
| reservation_links | drop |
| booking_appointment_link | drop |
| menu_link | drop |
| order_links | drop |
| location_link | drop |
| place_id | drop |
| google_id | drop |
| cid | drop |
| reviews_id | drop |
| located_google_id | drop |

In [13]:
# Will drop some irrelevant columns prior to exporting to .csv and MySQL

cities=cities.drop(['query','state','us_state','country_code','time_zone','plus_code','area_service','reviews_link','reviews_tags','reviews_per_score','photo','street_view','located_in','working_hours','working_hours_old_format','other_hours','popular_times','business_status','posts','logo','description','verified','owner_id','owner_title','owner_link','reservation_links','booking_appointment_link','menu_link','order_links','location_link','place_id','google_id','cid','reviews_id','located_google_id'],axis=1)
cities.head(1)

,name,site,type,subtypes,category,phone,full_address,borough,street,city,postal_code,country,latitude,longitude,rating,reviews,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5,photos_count,about,range
0,DE Americano,NaN,Restaurant,Restaurant,restaurants,NaN,"Köpenicker Str. 130, 12355 Berlin",Neukölln,Köpenicker Str. 130,Berlin,12355.0,Germany,52.42134,13.503272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"{""Service options"": {""Dine-in"": true}}",NaN

#### SQL Migration

My column headers are already in the proper format, no need to edit those. The df as is seems to have a lot of NaN values and irrelevant columns that I could just drop. Before cleaning my data however, I wanted to export my concatenated df and import it to SQL

**NOTE:** below cells are commented out so as to not run them repeatedly if I were to restart the kernel and run all cells again. They confirm to work and have been previously executed.

In [16]:
# # exporting df to .csv for safekeeping
# cities.to_csv('All_Cities.csv', index=False)

In [15]:
# cities.to_sql('all_cities', engine, index=False)